<ng-container *ngIf="imageInfo">
  <mat-card>
    <mat-card-header>
      <p>{{ imageInfo.author }}</p>
    </mat-card-header>
    <div #imageDiv class="block__image">
      <img
        *ngIf="flag"
        mat-card-image
        [src]="imageInfo.download_url"
        (click)="onImageClick()"
      />
    </div>

    <mat-card-actions>
      <app-button
        *ngIf="imageInfo | downloadImage"
        text="Download"
        (onClick)="onDownloadClick()"
      ></app-button>
    </mat-card-actions>
  </mat-card>
</ng-container>
