<div class="header">
  <div class="header__title">
    <p>Images</p>
  </div>
  <div class="header__slider">
    <mat-slider min="5" max="25" step="5" showTickMarks discrete>
      <input
        matSliderThumb
        (change)="updateSetting()"
        [(ngModel)]="sliderValue"
      />
    </mat-slider>
  </div>
</div>
<hr />
<div class="content">
  <ng-container *ngIf="imageInfos">
    <gallery-card
      *ngFor="let imageInfo of imageInfos.slice(0, 5)"
      [imageInfo]="imageInfo"
      [lazy]="false"
    ></gallery-card>
    <ng-container *ngIf="lazyLoadImageInfos">
      <gallery-card
        *ngFor="let lazyImageInfo of lazyLoadImageInfos"
        [imageInfo]="lazyImageInfo"
        [lazy]="true"
      ></gallery-card>
    </ng-container>
  </ng-container>
</div>
