.header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    margin-left: 1vw;

    & p {
      margin: 0;
      font-size: 4vw;
    }
  }

  &__actions {
    button {
      font-size: 1vw;
    }
  }
}

.content {
  height: 80vh;
  margin-bottom: 5vh;
  text-align: center;

  img {
    height: inherit;
    max-width: 80vw;
  }
}
